<mat-card class="card-booking-review" *ngIf="!billInfo?.isPaid">

    <mat-card-header class="header">
        <div class="langWrap">
            <div class="langPicker" [ngStyle]="{'flex-direction': (translate.currentLang === 'en')? 'column': 'column-reverse'}">
                <div (click)="translate.use('en')">English</div>
                <div (click)="translate.use('ar')">Arabic</div>
            </div>
        </div>
        <mat-card-title>{{ currentDate | localizedDate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="headerpart">
            <h5 class="text-align">{{billInfo?.company.name}}</h5>
            <img [src]="billInfo?.company.photoURL" width="100" class="img-circle img-logo" *ngIf="billInfo">
            <h5 class="text-align">{{billInfo?.company.description[translate.currentLang]}}</h5>
        </div>
        <table class="table" [ngStyle]="{'text-align': (translate.currentLang === 'en')? 'left': 'right'}" *ngIf="billInfo">
            <tr>
                <th colspan="2" [ngStyle]="{'text-align': (translate.currentLang === 'en')? 'left': 'right'}">{{'receipt'|translate}} {{'number'|translate}}:  {{billInfo?.ID}}</th>
            </tr>
            <tr *ngFor="let item of billInfo?.items">
                <td>{{item.description[translate.currentLang]|translate}}: {{item.price}} {{'kd'|translate}}</td>
            </tr>
            <tr>
                <td class="price">{{'total'|translate}}: <span>{{billInfo?.total}} {{'kd'|translate}}</span></td>
            </tr>

        </table>

        <!-- <label class="email-input">
            Send accept to:
            <input type="email" [placeholder]="'email'|translate" [ngModel]="email">
        </label> -->
        <a class="gt-secured-seal" href="https://www.geotrust.com/ssl/ssl-site-seals/"></a>
        <button class="pay-button" (click)="payReq()" *ngIf="!load">{{'payWith'|translate}}
            <img src="assets/img/knet.png">
        </button>
        <mat-progress-spinner
            class="example-margin"
            [color]="'black'"
            [mode]="'indeterminate'"
            [value]="50"
            [style.display]="load? '': 'none'">
        </mat-progress-spinner>

        <p class="text-center"> All right reserved &copy;2017 WeekendMoney</p>

    </mat-card-content>

</mat-card>

<mat-card class="card-booking-review successCard" *ngIf="billInfo?.isPaid">
    <mat-card-header class="header">
        <div class="langWrap">
            <div class="langPicker" [ngStyle]="{'flex-direction': (translate.currentLang === 'en')? 'column': 'column-reverse'}">
                <div (click)="translate.use('en')">English</div>
                <div (click)="translate.use('ar')">Arabic</div>
            </div>
        </div>
        <mat-card-title>{{ currentDate | localizedDate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="headerpart">
            <h5 class="text-align">{{company?.name}}</h5>
            <img [src]="billInfo?.company.photoURL" width="100" class="img-circle img-logo" *ngIf="billInfo">
            <h5 class="text-align">{{billInfo?.company.description[translate.currentLang]}}</h5>
        </div>

        <table class="table" [ngStyle]="{'text-align': (translate.currentLang === 'en')? 'left': 'right'}">
            <tr>
                <th colspan="2" [ngStyle]="{'text-align': (translate.currentLang === 'en')? 'left': 'right'}">{{'receipt'|translate}} {{'number'|translate}}: {{billInfo?.ID}}</th>
            </tr>
            <tr>
                <td>{{'date'|translate}}: {{billInfo?.cardPostDate.slice(0, 2) + '/' + billInfo?.cardPostDate.slice(-2) + '/' + (now| date: 'yy')}}</td>
            </tr>
            <tr>
                <td class="price">{{'total'|translate}}: <span>{{billInfo?.total}} {{'kd'|translate}}</span></td>
            </tr>
            <tr *ngFor="let item of billInfo?.items">
                <td>{{item.description[translate.currentLang]|translate}}: {{item.price}} {{'kd'|translate}}</td>
            </tr>

            <tr>
                <td>{{'paymentId'|translate}}: {{billInfo?.paymentId}}</td>
            </tr>
            <tr>
                <td>{{'transactionId'|translate}}: {{billInfo?.transictionId}}</td>
            </tr>
            <tr>
                <td>{{'trackId'|translate}}: {{billInfo?.ID}}</td>
            </tr>

        </table>

        <h3 class="successMsg">{{'transactionWasSuccessful'|translate}}</h3>
        <form class="result success" #form="ngForm" (submit)="sendEmail(email)" *ngIf="!load">
            <div class="success-icon">
                <fa name="check-circle" size="4x"></fa>
            </div>
            <input matInput #email name="email" [placeholder]="'email'|translate" ngModel email required>
            <button mat-raised-button [disabled]="!form.valid" [title]="form.valid? '': 'enter email'" [ngStyle]="{'background-color': form.valid? '': 'grey', 'color': form.valid? '': 'black'}">{{'send'|translate}}</button>
        </form>
        <mat-progress-spinner
            class="example-margin"
            [color]="'black'"
            [mode]="'indeterminate'"
            [value]="50"
            [style.display]="load? '': 'none'">
        </mat-progress-spinner>

        <p class="text-center"> All right reserved &copy;2017 WeekendMoney</p>
    </mat-card-content>

</mat-card>