<mat-card class="card-booking-review" *ngIf="!billInfo?.isPaid && isLoad">

    <mat-card-header class="header">
        <div class="langWrap">
            <div class="langPicker" [ngStyle]="{'flex-direction': (translate.currentLang === 'en')? 'column': 'column-reverse'}">
                <div (click)="translate.use('en')">English</div>
                <div (click)="translate.use('ar')">Arabic</div>
            </div>
        </div>
        <mat-card-title>{{ currentDate | localizedDate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="headerpart">
            <h5 class="text-align">{{billInfo?.company.name}}</h5>
            <img [src]="billInfo?.company.photoURL" width="100" class="img-circle img-logo" *ngIf="billInfo">
            <h5 class="text-align">{{billInfo?.company.description[translate.currentLang]}}</h5>
        </div>
        <table class="table" [ngClass]="{'arabic': !(translate.currentLang === 'en')}" *ngIf="billInfo">
            <tr>
                <th colspan="2" [ngClass]="{'arabic': !(translate.currentLang === 'en')}" class="price">{{'receipt'|translate}} {{'number'|translate}}  <span>{{billInfo?.ID}}</span></th>
            </tr>
            <tr *ngFor="let item of billInfo?.items">
                <td class="price">{{item.description[translate.currentLang]|translate}} <span>{{item.price}} {{'kd'|translate}}</span></td>
            </tr>
            <tr>
                <td class="price total">{{'total'|translate}} <span>{{billInfo?.total}} {{'kd'|translate}}</span></td>
            </tr>

        </table>

        <!-- <label class="email-input">
            Send accept to:
            <input type="email" [placeholder]="'email'|translate" [ngModel]="email">
        </label> -->
        <a class="gt-secured-seal" href="https://www.geotrust.com/ssl/ssl-site-seals/"></a>
        <button class="pay-button" (click)="payReq()" *ngIf="!load">{{'payWith'|translate}}
            <img src="assets/img/knet.png">
        </button>
        <mat-progress-spinner
            class="example-margin"
            [color]="'black'"
            [mode]="'indeterminate'"
            [value]="50"
            [style.display]="load? '': 'none'">
        </mat-progress-spinner>

        <p class="text-center"> All right reserved &copy;2017 WeekendMoney</p>

    </mat-card-content>

</mat-card>

<mat-card class="card-booking-review successCard" *ngIf="billInfo?.isPaid && isLoad">
    <mat-card-header class="header">
        <div class="langWrap">
            <div class="langPicker" [ngStyle]="{'flex-direction': (translate.currentLang === 'en')? 'column': 'column-reverse'}">
                <div (click)="translate.use('en')">English</div>
                <div (click)="translate.use('ar')">Arabic</div>
            </div>
        </div>
        <mat-card-title>{{ currentDate | localizedDate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="headerpart">
            <h5 class="text-align">{{billInfo?.company.name}}</h5>
            <img [src]="billInfo?.company.photoURL" width="100" class="img-circle img-logo" *ngIf="billInfo">
            <h5 class="text-align">{{billInfo?.company.description[translate.currentLang]}}</h5>
        </div>

        <table class="table" [ngClass]="{'arabic': !(translate.currentLang === 'en')}">
            <tr>
                <th colspan="2" [ngClass]="{'arabic': !(translate.currentLang === 'en')}" class="price">{{'receipt'|translate}} {{'number'|translate}} <span>{{billInfo?.ID}}</span></th>
            </tr>
            <tr>
                <td>{{'date'|translate}} <span>{{billInfo?.date.slice(0, 2) + '/' + billInfo?.date.slice(3, 5) + '/' + billInfo?.date.slice(-2)}}</span></td>
            </tr>
            <tr>
                <td class="price total">{{'total'|translate}} <span>{{billInfo?.total}} {{'kd'|translate}}</span></td>
            </tr>
            <tr *ngFor="let item of billInfo?.items">
                <td class="price">{{item.description[translate.currentLang]|translate}} <span>{{item.price}} {{'kd'|translate}}</span></td>
            </tr>

            <tr>
                <td class="price">{{'paymentId'|translate}} <span>{{billInfo?.paymentId}}</span></td>
            </tr>
            <tr>
                <td class="price">{{'transactionId'|translate}} <span>{{billInfo?.transictionId}}</span></td>
            </tr>
            <tr>
                <td class="price">{{'trackId'|translate}} <span>{{billInfo?.ID}}</span></td>
            </tr>

        </table>

        <h3 class="successMsg">{{'transactionWasSuccessful'|translate}}</h3>
        <form class="result success" #form="ngForm" (submit)="sendEmail(email)">
            <div class="success-icon">
                <fa name="check-circle" size="4x"></fa>
            </div>
            <input matInput #email name="email" [placeholder]="'email'|translate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" ngModel email required>
            <button mat-raised-button [disabled]="!form.valid" [title]="form.valid? '': 'enter email'" [ngStyle]="{'background-color': form.valid? '': 'grey', 'color': form.valid? '': 'black', animation: sending? 'sendingBlame 2s infinite': ''}">{{sending? ('sendEmail'|translate): ('send'|translate)}}</button>
        </form>

        <p class="text-center"> All right reserved &copy;2017 WeekendMoney</p>
    </mat-card-content>

</mat-card>

<div class="loaderPage" [style.display]="!isLoad? '': 'none'">
    <mat-progress-spinner
        class="example-margin"
        [color]="'black'"
        [mode]="'indeterminate'"
        [value]="50"
    >
    </mat-progress-spinner>
</div>